<%= form_with model: @profile, local: true do |f| %>
  <% if current_user.has_role :tradie %>
    <p>
      <%= f.label :business %>
      <%= f.text_field :business %>
    </p>
    <p>
      <%= f.label :trade %>
      <%= f.collection_check_boxes :trade_id, @trades, :id, :name %>
    </p>
  <% end %>
  <% if current_user.has_role :user %>
    <% form.fields_for :address do |address_subform| %>
      <%# fields for the associated address object %>
      <p>
        <%= address_subform.label :unit %>
        <%= address_subform.text_field :unit %>
      </p>
      <p>
        <%= address_subform.label :house_number %>
        <%= address_subform.text_field :house_number %>
      </p>
      <p>
        <%= address_subform.label :street %>
        <%= address_subform.text_field :street %>
      </p>
      <p>
        <%= address_subform.label :suburb %>
        <%= address_subform.text_field :suburb %>
      </p>
      <p>
        <%= address_subform.label :postcode %>
        <%= address_subform.text_field :postcode %>
      </p>
      <%# Finds all of the states from the states db and displays them as a selection %>
      <p>
        <%= address_subform.label :state %>
        <%= address_subform.collection_select :state_id, @states, :id, :name %>
      </p>
    <% end %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
