<%= form_with model: @profile, local: true do |f| %>
    <p>
        <%= f.label :business %>
        <%= f.text_field :business %>
    </p>
    <p>
        <%= f.label :trade %>
        <%= f.collection_check_boxes :trade_id, @trades, :id, :name %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
