<%= form_with model: @job, local: true do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :trades %>
    <%= f.collection_check_boxes :trade_ids, @trades, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :date_start %>
    <%= f.date_field :date_start %>
  </div>
  <div class="field">
    <%= f.label :date_finish %>
    <%= f.date_field :date_finish %>
  </div>
  <div class="field">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture, accept: "image.png, image.jpg, image.jpeg" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
