<%= form_with model: @job, local: true do |f| %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </p>
    <p>
        <%= f.label :trades %>
        <%= f.collection_check_boxes :trades_id, @trades, :id, :name %>
    </p>
    <p>
        <%= f.label :date_start %>
        <%= f.date_field :date_start %>
    </p>
    <p>
        <%= f.label :date_finish %>
        <%= f.date_field :date_finish %>
    </p>
    <p>
        <%= f.label :completed %>
        <%= f.boolean_field :completed %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>