<h1><%= @job.title %></h1>
<h3>By <%= @job.profile.user.username %></h3>

<hr />

<h3>Description: <%= @job.description %></h3>
<h3>Trades: </strong><%= @job.trades.map {|trade| trade.name}.join(", ") %></h3>
<h3>Date to start: <%= @job.date_start %></h3>
<h3>Date to finish by: <%= @job.date_finish %></h3>
<h3>Completed: <%= @job.completed %></h3>

<hr />
<h1>Tradies</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Business Name</th>
    <th>Trades</th>
  </tr>
  
  <% @tradies.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.profile.business %></td>
        <td><%= user.profile.trades.map {|trade| trade.name}.join(", ") %></td>
      </tr>
  <% end %>
</table>
<p>
  <%= link_to "<< Back", dashboards_path %>
  <% if policy(Job).edit? || policy(Job).destroy? %>
    |
    <%= link_to 'Edit', edit_job_path if policy(Job).edit? %>
    <% if policy(Job).destroy? %>
      |
      <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end%>
  <% end%>
</p>