<h1><%= @job.title %></h1>
<h3>By <%= @job.profile.user %></h3>

<hr />

<h3>Description: <%= @job.description %></h3>
<h3>Trades: </strong><%= job.trades.map {|trade| trade.name}.join(", ") %></h3>
<h3>Date to start: <%= @job.date_start %></h3>
<h3>Date to finish by: <%= @job.date_finish %></h3>
<h3>Completed: <%= @job.completed %></h3>

<hr />

<p>
  <%= link_to "<< Back", jobs_path %>
  <% if policy(Job).edit? || policy(Job).destroy? %>
    |
    <%= link_to 'Edit', edit_job_path if policy(Job).edit? %>
    <% if policy(Job).destroy? %>
      |
      <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end%>
  <% end%>
</p>
<p><%= link_to '<< Back', jobs_path %> | <%= link_to 'Edit', edit_job_path %> | <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' } %></p>
