<%= form_with model: @user, local: true do |f| %>
    <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    
    <div>
        <%= f.submit %>
    </div>
<% end %>
