<h1><%= @user.username %></h1>
<p><%= @user.email %></p>
<hr />
<h2>Profile</h2>
<% if @user.has_role? :user %>
  <h3><strong>Address: </strong><%= "#{@user.profile.address.unit'/' if @user.profile.address.unit?} #{@user.profile.address.house_number} #{@user.profile.address.street}, #{@user.profile.address.suburb} #{@user.profile.address.postcode} #{@user.profile.address.state.name}" %></h3>
<% end %>
<% if @user.has_role? :tradie %>
  <h3>Business: <%= @user.profile.business  %></h3>
  <h3>Trades: <%= @user.profile.trades.map {|trade| trade.name}.join(", ") %></h3>
  <% end %>
  <p>
<hr />
    <%= link_to "<< Back", users_path %>
    <% if policy(Profile).edit? || policy(User).destroy? %>
      <td>
        <%= link_to 'Edit', edit_profile_path(@user.profile.id) if policy(Job).edit? %>
        |
        <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } if policy(User).destroy? %>
      </td>
    <% end %>
  </p>

