<h1><%= "#{current_user.username}'s Page" %></h1>
<p><%= current_user.email %></p>
<hr />
<h2>Profile</h2>
<% if current_user.has_role? :tradie %>
  <h3>Business: <%= current_user.profile.business  %></h3>
  <h3>Trades: <%= current_user.profile.trades.map {|trade| trade.name}.join(", ") %></h3>
<% end %>
<% if current_user.has_role? :user %>
  <h3><strong>Address: </strong><%= "#{current_user.profile.address.unit} / " if current_user.profile.address.unit? %> <%= "#{current_user.profile.address.house_number} #{current_user.profile.address.street}, #{current_user.profile.address.suburb} #{current_user.profile.address.postcode} #{current_user.profile.address.state.name}" %></h3>
<% end %>
<%= link_to 'Edit Profile', edit_profile_path(current_user.profile.id) %>
<hr />
<h2>Jobs</h2>
<% if current_user.has_role? :user %>
  <p><strong><%= link_to 'New Job', new_job_path %></strong></p>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Trades</th>
    <th>Start Date</th>
    <th>Date Finished by</th>
    <th>Completed</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.title, job_path(job) %></td>
      <td><%= job.description %></td>
      <td><%= job.trades.map {|trade| trade.name}.join(", ") %></td>
      <td><%= job.date_start %></td>
      <td><%= job.date_finish %></td>
      <td><%= job.completed %></td>
    </tr>
  <% end %>
</table>
<p>
  <hr />
  <%= link_to 'Delete User', current_user, method: :delete, data: { confirm: 'Are you sure?' } if policy(User).destroy? %>
</p>
