<!DOCTYPE html>
<html>
  <head>
    <title>Src</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <figure>
        <img src="http://via.placeholder.com/80" alt="Coder Handyman Logo">
        <figcaption>Coder Handyman</figcaption>
      </figure>
      <nav>
        <% if user_signed_in? %>
          <span><%= link_to "Home", root_path %></span>
          <% if current_user.has_role? :admin %>
            <span><%= link_to "Jobs", jobs_path %></span>
            <span><%= link_to "Users", users_path %></span>
            <span><%= link_to "Roles", roles_path %></span>
            <span><%= link_to "Trades", trades_path %></span>
          <% end %>
          <span>
            <% if user_signed_in? %>
              <%= current_user.email %>
              |
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Login", new_user_session_path %>
              |
              <%= link_to "Sign Up", new_user_registration_path %>
            <% end%>
          </span>
        <% end %>
      </nav>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
